.card {
    background: linear-gradient(0deg, rgba(43,43,43,1) 5%, rgba(34,34,34,1) 100%);
    border-radius: 5px;
    font-size: 17px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    height: 350px;
}

.graph_card {
    background: linear-gradient(0deg, rgba(43,43,43,1) 5%, rgba(34,34,34,1) 100%);
    border-radius: 5px;
    font-size: 17px;
    // text-align: justify;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    height: 700px;
}

.MuiInputBase-root {
    color: 'white',
}
