.chart_description {
    padding: 10px;
    font-size: 20px;
    line-height: 150%;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
    color: #FCFCFC;
    text-align: justify;
    text-justify: inter-word;
  }